* {
  box-sizing: border-box;
}
.section{
	background-color: white;
	
}


h1 {
	margin-top: 15px;
	text-align: center;
}
div > p {
	
  	background-color: #696969;
 	width: 100%;
  	margin-right: 0px;
  	margin-left: 0px;
  	font-family: Helvetica;
  	color: white;
  	height: 100%;
}
.container{
	width: 100%; 
	padding: 10px;
	position: relative;
}
div > h2{
	text-align: center;
	background: blue;
	border: 1px solid black;
	position: relative;
	width: 30%;
	left: 300px;
	bottom: 30px;
}

@media (min-width: 991px){
  .section {
    float: left;
     border: 1px solid black;
     padding: 10px;
  }
  .section {
    width: 33.3%
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .section{
    float: left;
     border: 1px solid black;
      padding: 10px;
  }
  .section {
    width: 50%;
 
  }
}
@media (max-width: 767px ){
  .section{
    float: left;
     border: 1px solid black;
      padding: 10px;
  }
  .section{
    width: 100%;
  }
}